<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price Tracker</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1 class="header">Price Tracker</h1>
    <form method="POST">
        <input name="link-input" size="150" class="input-box">
        <input name="link-input-btn" type="submit">
        <input class="update-btn" name="update-btn" value="Update" type="submit">
    </form>
    <table class="table">
        <tr class="table_header">
            {% for header in headings %}
                <th class="table_header_cell">{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
            {% set outer_loop = loop %}
            <tr class="table_row">
                {% for i in range(row|length) %}
                    {% if i == 4%}
                        {% if price_change[outer_loop.index -1] > 0%}
                            <td class="table_cell">{{ row[i] }} <br> <p class="negative">+{{ price_change[outer_loop.index -1]}}({{ price_percentage_change[outer_loop.index - 1]}}%)</p></td>
                        {% elif price_change[outer_loop.index -1] < 0%}
                            <td class="table_cell">{{ row[i] }} <br> <p class="positive">{{ price_change[outer_loop.index -1]}}({{ price_percentage_change[outer_loop.index - 1]}}%)</p></td>
                        {% elif price_change[outer_loop.index -1] == 0%}
                            <td class="table_cell">{{ row[i] }} <br> -</td>
                        {% else %}
                            <td class="table_cell">{{ row[i] }} <br> Err</td>
                        {% endif %}
                    {% elif i == 5%}
                        {% if secondary_price_change[outer_loop.index -1] > 0%}
                            <td class="table_cell">{{ row[i] }} <br> <p class="negative">+{{ secondary_price_change[outer_loop.index -1]}}({{ secondary_price_percentage_change[outer_loop.index - 1]}}%)</p></td>
                        {% elif secondary_price_change[outer_loop.index -1] < 0%}
                            <td class="table_cell">{{ row[i] }} <br> <p class="positive">{{ secondary_price_change[outer_loop.index -1]}}({{ secondary_price_percentage_change[outer_loop.index - 1]}}%)</p></td>
                        {% elif secondary_price_change[outer_loop.index -1] == 0%}
                            <td class="table_cell">{{ row[i] }} <br> -</td>
                        {% else %}
                            <td class="table_cell">{{ row[i] }} <br> Err</td>
                        {% endif %}
                    {% elif i == 7%}
                        <td class="table_cell"><a href={{row[i]}}>LINK</a></td>
                    {% elif i == 0%}
                    {% else %}
                        <td class="table_cell">{{ row[i] }}</td>
                    {% endif %}
                {% endfor %}
                <td class="table_cell"><form method="POST"><input name="entry-delete-btn {{row[0]}}" value="DELETE" type="submit"></form></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>