<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price Tracker</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1 class="header">Is this info correct?</h1>
    <table class="table">
        <tr class="table_header">
            {% for header in headings %}
                <th class="table_header_cell">{{ header }}</th>
            {% endfor %}
        </tr>
        <tr class="table_row">
            {% for cell in data %}
                <td class="table_cell">{{ cell }}</td>
            {% endfor %}
        </tr>
    </table>
    <form method="POST">
        <input type="submit" style="margin-left: 1rem" name="no_button" value="No">
        <input type="submit" style="margin-left: 1rem" name="yes_button" value="Yes">
    </form>
</body>
</html>